.row.mt-2
    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        %h1.text-center.mb-4 Search Campaign Finance

    .col-12.col-md-8.offset-md-2.col-xl-6.offset-xl-3
        = form_tag search_campaign_finances_path, method: :get do
            .form-group.row.mb-3
                .col-md-6
                    %label.col-form-label
                        Select cycle:
                    = select_tag(:cycle, options_for_select((2010..2020).select { |year| year.even? }.map { |cycle| [cycle, cycle] }), class: 'form-control')

            .form-group.row.mb-3
                .col-md-6
                    %label.col-form-label
                        Select Category:
                    = select_tag(:category, options_for_select([['Candidate Loan', 'candidate-loan'],['Contribution Total', 'contribution-total'],['Debts Owed', 'debts-owed'],['Disbursements Total', 'disbursements-total'],['End Cash', 'end-cash'],['Individual Total', 'individual-total'],['PAC Total', 'pac-total'],['Receipts Total', 'receipts-total'],['Refund Total', 'refund-total']]), class: 'form-control')

            .actions.text-center
                = submit_tag 'Search', class: 'btn btn-primary btn-lg mt-2'
